.switch {
  width: 55px;
  height: 30px;
  margin: 0 23px;
  border-radius: 100px;
  background: linear-gradient(90deg, $gradient);
  position: relative;
  cursor: pointer;

  &:hover {
    background: linear-gradient(90deg, $hover-gradient);
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    top: 3px;
    right: 3px;
    background: white;
    transition: .1s ease-in-out;
  }

  &:checked {
    &::before {
      transform: translateX(-25px);
    }
  }
}

.btn {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 32px;
  border-radius: 6px;

  &--filled {
    color: white;
    background: linear-gradient(90deg, $gradient);

    &:hover, &:focus {
      padding: 13px;
      background: none;
      color: hsl(237, 63%, 64%);
      border: 2px solid $grayish-blue;
    }
  }

  &--white {
    color: hsl(237, 63%, 64%);
    background: white;

    &:hover, &:focus {
      padding: 13px;
      background: none;
      color: white;
      border: 2px solid white;
    }
  }
}