body {
  height: 100vh;
  width: 100%;
  background: url('../images/bg-top.svg') no-repeat top -35px right -210px, $very-light-grayish-blue;
}

input[type="checkbox"] {
  appearance: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: $mobile-wrapper;
  margin: 0 auto;
}

.title {
  font-size: 1.87rem;
  margin: 4.67rem 0 2.67rem;
  color: $grayish-blue;
}

.toggle {
  display: flex;
  align-items: center;
  margin-bottom: 5.2rem;

  .term {
    color: $light-grayish-blue;
  }
}

.pricing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.67rem;
  margin: 0 auto;

  .card {
    width: 100%;
    padding: 2rem;
    text-align: center;
    background: white;
    color: $dark-grayish-blue;
    box-shadow: 0 0.67rem 1.33rem rgba($light-grayish-blue, .1);
    border-radius: 0.67rem;
    margin-bottom: 2rem;

    &__professional {
      background: linear-gradient(135deg, $gradient);
      color: white;

      .card__title {
        color: white;
      }

      .card__features {
        color: white;
      }
    }

    .dollar {
      font-size: 2.53rem;
      margin-right: 0.53rem;
    }

    &__title {
      font-size: 1.05rem;
      color: $grayish-blue;
    }

    &__price {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4.8rem;
      margin: 1.33rem 0 1.6rem;
      letter-spacing: -2px;
    }

    &__features {
      font-size: inherit;
      color: $grayish-blue;
    }

    .feature {
      display: block;
      padding: 1.33rem;
      border-top: 1px solid $light-grayish-blue;
      width: 100%;

      &:last-child {
        border-bottom: 1px solid $light-grayish-blue;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  body {
    background: url('../images/bg-top.svg') no-repeat top -35px right -210px, url('../images/bg-bottom.svg') no-repeat bottom left, $very-light-grayish-blue;
  }

  .wrapper {
    width: $tablet-wrapper;
  }

  .toggle {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1023px) {
  body {
    background: url('../images/bg-top.svg') no-repeat top right, url('../images/bg-bottom.svg') no-repeat bottom left, $very-light-grayish-blue;
  }

  .wrapper {
    width: $desktop-wrapper;
  }

  .pricing {
    flex-direction: row;
    justify-content: center;

    .card {
      max-width: 23.33rem;
      margin-bottom: 0;

      &__basic {
        border-radius: 0.67rem 0 0 0.67rem;
      }

      &__professional {
        background: linear-gradient(135deg, $gradient);
        color: white;
        padding: 3.6rem 2rem;
      }

      &__master {
        border-radius: 0 0.67rem 0.67rem 0;
      }
    }
  }
}