$gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
$hover-gradient: lighten(hsl(236, 72%, 79%), 10%), lighten(hsl(237, 63%, 64%), 10%);

$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

$mobile-wrapper: 86.5%;
$tablet-wrapper: 80%;
$desktop-wrapper: 73%;